.cart-toast {
  position: fixed;
  top: 0;
  right: 0;
  color: white;
  background-color: black;
  width: 200px;
  margin: 10px;
  border-radius: 5px;
  z-index: 1001;
  display: flex;
  flex-direction: row;
  align-items: center;

  border: 3px solid aqua;
}

.cart-toast a {
  color: aqua;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  text-decoration: none;
}

.cart-toast a:visited {
  color: aqua;
}

.cart-toast svg {
  fill: aqua;
  margin-right: 5px;
}

.item-count {
  flex: 1;
}
