table {
  width: 100%;
}

.cart {
  padding-right: 20px;
}

.item-header {
  text-align: left;
}

.quantity-header,
.price-header {
  text-align: right;
}

table {
  border-collapse: collapse;
}

table img {
  width: 100px;
}

.header-row {
  padding-bottom: 5px;
}

.item-row {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 0;
}

.item-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-image {
  margin-right: 20px;
}

.item-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.item-quantity,
.item-price {
  text-align: right;
}

.remove-item {
  font-family: helvetica, sans-serif;
  font-size: 20px;
  font-weight: 100;
  margin-right: 20px;
  opacity: 0.4;
  cursor: pointer;
}

.subtotal {
  margin: 20px 0;
  text-align: right;
}

.checkout {
  text-align: right;
}
