.sidebar-photo-controls {
  position: absolute;
  bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
}

.sidebar-photo-controls button {
  font-size: 0.75rem;
}
