.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  /* justify-content: center; */
  align-items: center;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar nav {
  margin-bottom: 20px;
}

.page {
  flex: 1;
  position: relative;
  padding: 5px;
  overflow: auto;
}

.photos {
  /* Prevent vertical gaps */
  line-height: 0;
  column-count: 3;
  column-gap: 5px;
}

.photos img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  .photos {
    column-count: 2;
  }
}

@media (max-width: 800px) {
  .photos {
    column-count: 1;
  }
}

.btn-link {
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  padding: .5rem .5rem;
  background-color: transparent;
  border-color: transparent;
}
