.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

@media (max-width: 800px) {
  .app {
    flex-direction: column;
    height: auto;
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  align-items: center;
  margin-bottom: 30px;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar ul ul {
  margin-left: 10px;
}

.sidebar nav {
  margin-bottom: 30px;
}

.sidebar nav a {
  font-size: 1.25rem;
  text-decoration: none;
  color: #222;
}

.sidebar nav a:visited {
  color: #222;
}

.sidebar .active,
.sidebar a:hover {
  color: red !important;
}

.logo {
  font-family: 'Gloria Hallelujah', cursive;
}

.logo a {
  color: #222;
  text-decoration: none;
}

.logo a:visited {
  color: #222;
}

.page {
  flex: 1;
  padding: 10px;
  overflow: auto;
}

.links a {
  margin-left: 5px;
}

.btn-link {
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  padding: .5rem .5rem;
  background-color: transparent;
  border-color: transparent;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-leave {
  opacity: 1;
  display: none;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
