.app {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  justify-content: center;
  align-items: center;
}

.sidebar h1 {
  margin: 0;
}

.links {
  margin: 10px 0;
}

.links img {
  margin: 0 5px;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.mobile-content {
  display: none;
  flex: 1;
  flex-direction: column;
}

.mobile-content .photo img {
  height: 100%;
}

.photo {
  position: relative;
  flex: 1;
  z-index: 20;
}

.photo img {
  width: 100%;
}

.carosel-enter {
  z-index: 20;
  position: absolute;
  transform: translateX(100%);
  opacity: 0.2;
}

.carosel-enter.carosel-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: 1000ms ease-in-out;
}

.carosel-leave {
  z-index: 10;
}

.carosel-leave.carosel-leave-active {
  opacity: 0;
  transition: opacity 1000ms ease-out;
}

.next-photo {
  margin-right: -90%;
  flex: 1;
  opacity: 0.2;
  cursor: pointer;
  z-index: 10;
}

.next-photo img {
  height: 100%;
  width: 100%;
}

@media (max-width: 600px) {
  .app {
    flex-direction: column;
  }

  .actions, .content {
    display: none;
  }

  .mobile-content {
    display: flex;
  }
}

.btn-link {
  border-radius: 0;
  cursor: pointer;
  user-select: none;
  padding: .5rem .5rem;
  background-color: transparent;
  border-color: transparent;
}
